section{
  width: 50%;
  color:white;
  margin-left: 25px;
  margin-top: 25px;
  border-right: 1px solid #20272d;
}
main{
  margin-top: 25px;
}
.today-page {
  display: flex;
  justify-content: start;
}