.no-task-selected{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  width: 25vw;
  height: 100vh;
  margin-right: 25px;
  margin-top: 25px;
}

p{
  color: white;
}
